.product-page {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.product-info {
  display: flex;
  align-items: flex-start;
}

.product-image {
  max-width: 300px;
  margin-right: 20px;
}

.product-details {
  flex: 1;
}

.product-description {
  margin-bottom: 10px;
}

.product-extra-info {
  margin-top: 10px;
  font-size: 0.9em;
}

.product-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pricee {
  font-size: 2.0em;
  margin-bottom: 10px;
}

.add-to-cart, .add-to-favorites {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 1em;
  margin-top: 10px;
  cursor: pointer;
}

.add-to-favorites {
  background-color: #f44336;
}
